@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #f6f5f7; */
    background-image: url('backgrnd1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
}


/* Navbar styles */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-nav.ml-auto a.nav-link {
    color: #000;
}

.navbar-nav.ml-auto a.nav-link:hover {
    color: #ff4b2b;
}

#mainNav {
    transition: background-color 0.5s ease;
    background-color: rgba(220, 220, 220, 0.8); /* White background with 80% opacity */
}

.fixed-top.scrolled {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container{
    width:100%;
    margin:0;
}

.container1{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 480px;
    /* background: rgba(177, 177, 177, 0.22); */
    background-image: url('backgrnd2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card1{
    padding-left:50px;
    padding-right:50px;
    width: 100%;
}

.navbar{
    margin: 0%;
}


.list-group{
    padding-left: 100px;
}

.image-bg {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('pic.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 5px solid  #7e7b7b;
}

/* Ensure other styles remain intact */
.content-wrapper {
    padding-top: 100px; /* Adjust based on navbar height */
}








footer {
    background-color: #606060;
    position: relative;
    bottom: 0;
    width: 100%;
  }

h3{
    margin: 50px;
    padding: 10px 0px;
    font-weight: 300;
}


/* Responsive styles */
@media (max-width: 768px) {
    .task-title {
        font-size: 1em;
    }

    .task-checkbox {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 576px) {
    .card2 {
        padding: 10px;
    }

    .task-title {
        font-size: 0.9em;
    }

    .task-checkbox {
        height: 16px;
        width: 16px;
    }
}


@media (max-width: 768px) {
    .search-bar {
        width: 95%;
    }

    .navbar-brand {
        font-size: 1.2em;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1em;
    }
}